<h1><%= @info[:name] %> is a <%= @info[:type] %>!</h1>
<h3><%= @info[:name] %> has a tastiness level of <%= @info[:tasty_level] %>/100.</h3>
<p><%= @info[:description] %></p>

<h3>Here are some other foods:</h3>
<ul id="links">
	<li><a href="http://localhost:9393/bread/view">bread</a</li>
	<li><a href="http://localhost:9393/wine/view">wine</a</li>
	<li><a href="http://localhost:9393/cake/view">cake</a</li>
	<li><a href="http://localhost:9393/oreo/view">oreo</a</li>
	<li><a href="http://localhost:9393/dog-food/view">dog food</a</li>
</ul>